<div>
  Filter By :

  <div class="inline-block">
    <label for="title-name">
      <input
        type="radio"
        id="title-name"
        name="radio-filter"
        value="title"
        (click)="(btnRadio)"
      />
      <span class="label-body"> Title </span>
    </label>
  </div>
  <div class="inline-block">
    <label for="first-name">
      <input
        type="radio"
        id="first-name"
        name="radio-filter"
        value="first"
        (click)="(btnRadio)"
      />
      <span class="label-body"> First Name </span>
    </label>
  </div>
  <div class="inline-block">
    <label for="last-name">
      <input
        type="radio"
        id="last-name"
        name="radio-filter"
        value="last"
        (click)="(btnRadio)"
      />
      <span class="label-body"> Last Name </span>
    </label>
  </div>
</div>
